.carousel {
	background-color: var(--color-white);
	min-height: 100dvh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
}

/* Container principal  */
.carousel__container {
	width: 100%;
	max-width: 1024px;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

/* Container Texte */
.container__text {
	width: 60%;
	display: flex;
	flex-direction: column;
}

.container__title {
	font-family: var(--font-josefin);
	font-size: var(--font-size-mobile-h2);
	color: var(--color-accent-red);
	margin-bottom: 1rem;
	text-align: center;
	.titleStudio {
		color: var(--color-accent-gold);
	}
}
.container__description {
	font-family: var(--font-lato-regular);
	font-size: var(--font-size-mobile-text);
	color: var(--color-text-black);
	text-align: justify;
	margin-bottom: 1rem;
}

.container__quote {
	font-family: var(--font-lato-regular);
	font-size: var(--font-size-mobile-text);
	color: var(--color-accent-blue);
	font-style: italic;
	text-align: justify;
	margin-bottom: 1rem;
}

/* Composant Images */
.carousel__images {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.carousel__slider {
	position: relative;
	width: 100%;
	overflow: hidden;
	box-shadow: var(--color-boxShadow);
}

.carousel__track {
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel__slide {
	min-width: 100%;
	height: 300px;
	flex-shrink: 0;
}

.carousel__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Contrôles */
.carousel__controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.carousel__dots {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.carousel__dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid var(--color-border-black);
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	padding: 0;
}

.carousel__dot--active {
	background-color: var(--color-text-black);
}

.carousel__dot:hover {
	transform: scale(1.2);
}

/* Version Desktop */
@media (min-width: 1024px) {
	.carousel__container {
		flex-direction: row;
		gap: 3rem;
		align-items: stretch;
	}

	/* Le texte à gauche prend 40% */
	.container__text {
		flex: 0 0 40%;
		text-align: left;
		justify-content: center;
	}

	.container__title {
		font-size: var(--font-size-desktop-h2);
		text-align: left;
	}

	.container__description,
	.container__quote {
		font-size: var(--font-size-desktop-text);
	}

	/* Les images à droite prennent 40% */
	.carousel__images {
		flex: 0 0 40%;
	}

	.carousel__slide {
		height: 500px;
	}

	.carousel__button {
		font-size: var(--font-size-desktop-button);
		padding: 14px 28px;
	}

	.carousel__buttons {
		gap: 1.5rem;
	}

	.carousel__dots {
		gap: 16px;
	}

	.carousel__dot {
		width: 18px;
		height: 18px;
	}
}
