footer {
	width: 100%;
	height: 10dvh;
	background-color: var(--color-accent-blue);
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1000;
}
footer p {
	color: var(--color-white);
	font-size: 14px;
}
footer > p {
	width: 28%;
	white-space: nowrap;
}

footer > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 28%;
	gap: 10px;
}
.socialIcons {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 15px;
}
.socialIcons img {
	width: 25px;
	height: 25px;
	cursor: pointer;
}
