footer {
    position: fixed;
    bottom: 0;
    height: 10dvh;
    width: 100%;
    background-color: var(--color-accent-blue);
    display: flex;
    align-items: center;
    justify-content: space-around;

}
footer p {
    color: var(--color-white);
    font-size: 14px;

}
footer>p {
        width : 28%;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width : 28%;
    gap: 10px;
}
.socialIcons {
    display: flex;
    width: 100%;
    justify-content: center ;
    gap: 15px;
}
.socialIcons img {
    width: 25px;
    height: 25px;
    cursor: pointer;

}
