.navButton {
    font-family: var(--font-josefin);
    color: var(--color-accent-red);
    font-size: var(--font-size-mobile-button);
    text-align: end;
    border : 1px solid var(--color-text);
    border-radius: 8px ;
    background-color: var(--color-white);
    padding: 10px 20px;
    white-space: nowrap;
}

@media (min-width: 1024px) {
    .navButton {
        font-size: var(--font-size-desktop-button);
        padding: 12px 24px;
    }
}