:root{
    --size_avatar: 150px;
    --size_avater_circle: 166px;
    --size_borderRadius: 100px;
}

.teamCard{
    display: flex;
    flex-direction: column;
    width: 325px;
    height: 475px;
    border-radius: var(--size_borderRadius);
    box-shadow: 0 6px 6px var(--color-boxShadow);
}

.teamCard_high{
    display: flex;
    justify-content: center;
    border-radius: var(--size_borderRadius) var(--size_borderRadius) 0 0;
}

.blue_teamCard .teamCard_high{
    background-color: var(--color-accent-blue);
}

.green_teamCard .teamCard_high{
    background-color: var(--color-accent-green);
}

.yellow_teamCard .teamCard_high{
    background-color: var(--color-accent-gold);
}

.teamCard_high .avatar_circle{
    border: 3px solid var(--color-white);
    width: var(--size_avater_circle);
    height: var(--size_avater_circle);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(var(--size_avatar) / 3);
    border-radius: calc(var(--size_avater_circle) / 2);
}

.avatar_container{
    border: 5px solid white;
    border-radius: 100px;
    background-color: white;
    width: var(--size_avatar);
    height: var(--size_avatar);
    display: flex;
    justify-content: center;
}

.teamCard_low{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 0 0 var(--size_borderRadius) var(--size_borderRadius);
    background-color: var(--color-accent-lighGreen);
    text-align: center;
    gap: 8px;
    padding-bottom: 24px;
}

.teamCard .teamCard_title{
    font-family: var(--font-poiret);
    font-size: var(--font-size-mobile-card-title);

    z-index: 2;
}

.teamCard h2 {
    font-size: var(--font-size-mobile-button);

    font-weight: bold;
}

.teamCard p {
    font-size: var(--font-size-mobile-text);
    padding: 0 24px;
}

.blue_teamCard h2{
    color: var(--color-accent-blue);
}

.green_teamCard h2{
    color: var(--color-accent-green);
}

.yellow_teamCard h2{
    color: var(--color-accent-gold)
}

.avatar_container img{
    height: 105%;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul img{
    width: 40px;
}

@media (min-width: 720px) {
    .teamCard {
        transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
    }
    .teamCard:hover {

        transform: translateY(-5px);
		box-shadow: 0 8px 20px var(--color-boxShadow);
    }
    
}