section {
    position: relative;
	height: 100dvh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 0 10dvw 0;
}
/* Les deux articles de la page */
.heroWrapper {
	position: relative;
	width: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20%;
}
.heroWrapper img {
	width: 80%;
	z-index: 1;
}

/* Background blanc */
.heroBackground {
	position: absolute;
	transform: rotate(-10deg);
	background-color: var(--color-white);
	width: 150%;
	height: 150%;

	left: -25%;
	z-index: 0;
}
.heroInfo {
	position: relative;
	color: var(--color-text);
	font-family: var(--font-lato-light);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 25px;
	text-align: right;

	z-index: 1;
}

/* style pour les infos */

.hidden {
	display: none;
}

.heroInfo h2 {
	font-size: var(--font-size-mobile-text);
	color: var(--color-accent-blue);
	font-weight: bolder;
	border: 1px solid var(--color-text);
	border-radius: 10px 0 0 10px;
	padding: 10px 15px;
	background-color: var(--color-white);
	z-index: 10;
}

.circle {
	position: absolute;
	height: 45dvh;
	width: 45dvh;
	border: 20px solid var(--color-accent-gold);
	border-radius: 50%;
	top: -25%;
	z-index: 0;
	right: -22dvh;
	top: 50%;
	transform: translateY(-50%);
}

.ctaButton {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-family: var(--font-josefin);
	font-size: var(--font-size-mobile-text);
	color: var(--color-white);
	font-weight: bolder;
	border: 1px solid var(--color-white);
	border-radius: 10px;
	padding: 10px 15px;
	background-color: var(--color-accent-red);
	z-index: 10;
}
