#SectionOurTeam{
    width: 100%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 0;
    gap: 10dvh;
    margin: 5dvh 0 5dvh 0;
}

#titre_sectionOurTeam {
    color: var(--color-accent-gold)
}

#TeamCard_Container{
    max-width: var(--max-size-section);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10dvh;
    width: 100%; 
}