#sectionContact{
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    position: relative;
    padding: 0;
}

#sectionContact_container{
    width: 100%;
    max-width: var(--max-size-section);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#sectionContact_title{
    width: 100%;
    background-color: var(--color-accent-blue);
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

#sectionContact_title h2{
    color: var(--color-white)
}

#sectionContact_accroche{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-top: 8px;
}

#sectionContact_accroche h2 {
    z-index: 1;
    width: 75%;
    text-align: center;
    
    text-shadow:
    2px 2px 0 white,
    -2px 2px 0 white,
    2px -2px 0 white,
    -2px -2px 0 white;

}

#sectionContact_accroche_rectangle{
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 50%;
    background-color: var(--color-accent-gold);
    z-index: 0;
    border-radius: 0 24px 24px 0;

}

#sectionContact_coordonne{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 13%;
    gap: 8px;
    position: relative;
}

#sectionContact_coordonne_rectangle{
    position: absolute;
    right: 8px;
    border: solid 7px var(--color-accent-red);
    height: 100%;
    width: 33%;
    z-index: 0;
}

#sectionContact_coordonne > p {
    padding: 16px;
    border: solid 1px var(--color-accent-red);
    border-radius: 16px;
    background-color: white;
    text-align: center;
    width: 300px;
    z-index: 1;
}

#sectionContact_citation{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 8px;
    z-index: 2;
}

#sectionContact_citation p{
    font-family: var(--font-poiret);
    text-align: center;
    padding: 4px;
}

.sectionContact_citation_illustration{
    width: 75px;
}

.sectionContact_citation_illustration img{
    width: 100%;
}

#sectionContact_imageBackground{
    position: absolute;
    height: 90%;
    z-index: 1;
    opacity: 0.1;
    display: none;
    top: 5%;
}

@media (min-width: 600px) {
    #sectionContact_imageBackground{
        display: flex;
    }

    #sectionContact_coordonne_rectangle{   
        width: 20%;
    }
  }