* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
li {
    list-style: none;
    cursor: pointer;
    white-space: nowrap;
}
img {
    max-width: 100%;
    display: block;
}